@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

body {
    overflow-x: hidden;
    min-height: 100vh;
    color: hsl(0 0% 100%);
}

section.first-box {
    background: hsl(0 0% 100%);
    height: 200vh;
}

section .text-wrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    position: sticky ;
    top: 0;
    overflow: visible;
    perspective: 100vh;
}

section.second-box {
    z-index: 2;
    color: hsl(0 0% 100%);
    height: 100vh;
    width: 100%;
    background: hsl(0 0% 0%);
    position: sticky;
}

section.second-box p {
    color: white;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
}

section .text-wrapper svg{
    --opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.4;
    translate: -50% -50%;
    overflow: hidden;
}
svg text {
    font-size: clamp(2rem, 6vw + 1rem, 6rem);
    font-weight: 600;
}

#app {
    background: hsl(0 0 100%);
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#app div {
    margin: 5px auto;
}

#app div div {
    border: 1px solid grey;
    max-width: 35%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color linear 0.3s;
}

#app div div:hover {
    background-color: black;
    color: white;
}


@supports (animation-timeline: scroll()) {
    section {
        view-timeline-name: --section;
    }

    section .text-wrapper svg {
        animation: blow-out both ease-in, fade-in both ease-in;
        animation-timeline: --section;
        animation-range: exit-crossing 10% exit 0%, exit-crossing 10% exit-crossing 25%;
    }

    section.second-box p {
        animation: fade-in both linear, fade-out both linear;
        animation-timeline: --section;
        animation-range: entry 10% entry 35%, exit 0% exit 25%;
    }

    #app {
        view-timeline-name: --app ;
        z-index: 2;
        clip-path: ellipse(220% 200% at 50% 300%);
        animation: unclip both linear;
        animation-timeline: --app ;
        animation-range: entry 0 entry 100%;
    }

    @keyframes unclip {
        to {
            clip-path: ellipse(220% 200% at 50% 175%);
        }
    }

    @keyframes fade-in {
        to {
            opacity: var(--opacity, 0.8);
        }
    }
    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }
    @keyframes blow-out {
        0%, 95% {
            background: transparent;
        }
        to {
            transform: translate3d(0.50ch, 0, 99vh );
            background: rgb(0, 0, 0);
        }
    }
}
